/* Layout Containers */

.wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    margin-top: 0;
    background-color: aquamarine;
}

/* Styling */

* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: #2d3945;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    color: #2d3945;
    font-weight: bolder;
    margin-bottom: 0px;
}

.blurb {
    text-align: center;
    margin-top: 9px;
    color:#c8cbcf;
}

.top {
    height: 3px;
    background-color: black;
    margin-top: 35px;
    margin-bottom: 0;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
    margin-top: 3px;
}
fieldset {
    border: none;
    margin: auto;
    padding: 0;
}
legend {
    font-size: 22px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    color: black;
}

label {
    color: grey;
    display: inline-block;
    text-align: right;
}

input {
    background-color: #EFF0F1;
    margin: 10px;
    width: 100%;
    margin-left: 0;
    padding: 16px;

    border: none;
    border-radius: 4px;
}

input[type="email"]::placeholder {
    text-align: right;
    color: #c8cbcf;
  }

  input[type="text"]::placeholder {
    text-align: right;
    color: #c8cbcf;
  }

  input[type="checkbox"] {
    width: 1em;
  }

  input[type="radio"] {
    width: 1em;
  }
  select {
    width: 100%;
    background-color: #EFF0F1;
    margin: 10px;
    margin-left: 0;
    padding: 16px;
    border: none;
    border-radius: 4px;
    color: lightgrey;
  }

  fieldset.info {
    margin-bottom: 20px;
  }

  fieldset.newsletter {
    color: grey;
  }

  textarea {
    overflow: auto;
    background-color: #EFF0F1;
    margin-bottom: 1em;
    margin-left: 0;
    height: 100px;
    padding: 1em;
    width: 100%;
    border: none;
    border-radius: 4px;
  }

  button {
    background-color: #4EBAB5;
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 21px;
    font-weight: bold;
  }

  footer {
    text-align: center;
    font-style: italic;
    color: lightgrey;
    padding: 0.5em;
  }


/* MEDIA QUERIES */

  @media (min-width: 768px) {
    
/* Layout Containers */

    .wrapper {
        margin: 0 auto;
        width: 70%;
        max-width: 1000px;
    }

    input {
      width: auto;
    }

    label {
      width: 100px;
    }
   
}